In [1]:
from fairness.matching import compute
import pandas as pd
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
dataset = pd.read_csv('./dataset/adult.data', sep=',')

In [3]:
dataset

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
dataset.iloc[:, len(dataset.columns) - 1:]

        <=50K
0       <=50K
1       <=50K
2       <=50K
3       <=50K
4       <=50K
...       ...
32555   <=50K
32556    >50K
32557   <=50K
32558   <=50K
32559    >50K

[32560 rows x 1 columns]

In [5]:
columns_to_drop = ['39']
protected_attributes = [' White', ' Never-married', ' Male']
output_column = ' <=50K'

In [6]:
fair_dataset = compute(dataset, protected_attributes, output_column, columns_to_drop)

        Attribute  Disparate Impact
0           White          0.596327
1   Never-married          7.151484
2            Male          0.358006
1
Begun returning apriori dataset format
Finished on returning apriori dataset format
Begun association rule mining
Finished association rule mining
                                              Antecedent
0                                                     []  \
1                                                     []
2                                                     []
3                                                     []
4                                             [ 13 = 10]
...                                                  ...
10797  [ Male = 1,  Bachelors = 11,  United-States = ...
10798  [ Bachelors = 11,  United-States = 39,  White ...
10799  [ Male = 1,  United-States = 39,  White = 1,  ...
10800  [ Male = 1,  Bachelors = 11,  United-States = ...
10801  [ Male = 1,  Bachelors = 11,  United-States = ...

                  Consequent  Confidence
0                   [ 0 = 0]    0.953348
1                [ 2174 = 0]    0.916738
2      [ United-States = 39]    0.895854
3               [ White = 1]    0.854269
4                   [ 0 = 0]    0.960911
...                      ...         ...
10797   [ Never-married = 0]    1.000000
10798            [ Male = 1]    0.999702
10799      [ Bachelors = 11]    1.000000
10800            [ 2174 = 0]    0.910894
10801              [ 13 = 9]    1.000000

[10802 rows x 3 columns]
New dataset columns:  Index([' State-gov', ' 77516', ' Bachelors', ' 13', ' Never-married',
       ' Adm-clerical', ' White', ' Male', ' 2174', ' 0', ' 40',
       ' United-States', ' <=50K'],
      dtype='object')
        Attribute  Disparate Impact
0           White          0.596327
1   Never-married          7.151484
2            Male          0.358006
2
Begun returning apriori dataset format
Finished on returning apriori dataset format
Begun association rule mining
Finished association rule mining
                                             Antecedent
0                                                    []  \
1                                                    []
2                                                    []
3                                                    []
4                                            [ 13 = 10]
...                                                 ...
5542  [ Male = 1,  United-States = 39,  White = 1,  ...
5543  [ Male = 1,  United-States = 39,  2174 = 0,  0...
5544  [ Male = 1,  White = 1,  2174 = 0,  0 = 0,  St...
5545  [ Male = 1,  United-States = 39,  White = 1,  ...
5546  [ Male = 1,  United-States = 39,  White = 1,  ...

                 Consequent  Confidence
0                  [ 0 = 0]    0.953348
1               [ 2174 = 0]    0.916738
2     [ United-States = 39]    0.895854
3              [ White = 1]    0.854269
4                  [ 0 = 0]    0.960911
...                     ...         ...
5542    [ 2174 = 0,  0 = 0]    0.848681
5543           [ White = 1]    0.903551
5544  [ United-States = 39]    0.897841
5545            [ 2174 = 0]    0.896189
5546               [ 0 = 0]    0.941209

[5547 rows x 3 columns]
New dataset columns:  Index([' State-gov', ' 77516', ' Bachelors', ' 13', ' Never-married',
       ' Adm-clerical', ' White', ' Male', ' 2174', ' 0', ' 40', ' <=50K'],
      dtype='object')
        Attribute  Disparate Impact
0           White          0.596327
1   Never-married          7.151484
2            Male          0.358006
3
Begun returning apriori dataset format
Finished on returning apriori dataset format
Begun association rule mining
Finished association rule mining
                                             Antecedent            Consequent
0                                                    []              [ 0 = 0]  \
1                                                    []           [ 2174 = 0]
2                                                    []          [ White = 1]
3                                            [ 13 = 10]              [ 0 = 0]
4                                            [ 13 = 13]              [ 0 = 0]
...                                                 ...                   ...
1908  [ Male = 1,  2174 = 0,  State-gov = 4,  Never-...  [ 0 = 0,  White = 1]
1909  [ Male = 1,  White = 1,  State-gov = 4,  Never...   [ 2174 = 0,  0 = 0]
1910  [ Male = 1,  2174 = 0,  0 = 0,  State-gov = 4,...          [ White = 1]
1911  [ Male = 1,  White = 1,  State-gov = 4,  0 = 0...           [ 2174 = 0]
1912  [ Male = 1,  White = 1,  2174 = 0,  State-gov ...              [ 0 = 0]

      Confidence
0       0.953348
1       0.916738
2       0.854269
3       0.960911
4       0.936870
...          ...
1908    0.824577
1909    0.854635
1910    0.873103
1911    0.900000
1912    0.944306

[1913 rows x 3 columns]
New dataset columns:  Index([' State-gov', ' 77516', ' Bachelors', ' 13', ' Never-married', ' White',
       ' Male', ' 2174', ' 0', ' 40', ' <=50K'],
      dtype='object')
        Attribute  Disparate Impact
0           White          0.596327
1   Never-married          7.151484
2            Male          0.358006
4
Begun returning apriori dataset format
Finished on returning apriori dataset format
Begun association rule mining
Finished association rule mining
                                             Antecedent            Consequent
0                                                    []              [ 0 = 0]  \
1                                                    []           [ 2174 = 0]
2                                                    []          [ White = 1]
3                                            [ 13 = 10]              [ 0 = 0]
4                                            [ 13 = 13]              [ 0 = 0]
...                                                 ...                   ...
1851  [ Male = 1,  2174 = 0,  State-gov = 4,  Never-...  [ 0 = 0,  White = 1]
1852  [ Male = 1,  White = 1,  State-gov = 4,  Never...   [ 2174 = 0,  0 = 0]
1853  [ Male = 1,  2174 = 0,  0 = 0,  State-gov = 4,...          [ White = 1]
1854  [ Male = 1,  White = 1,  State-gov = 4,  0 = 0...           [ 2174 = 0]
1855  [ Male = 1,  White = 1,  2174 = 0,  State-gov ...              [ 0 = 0]

      Confidence
0       0.953348
1       0.916738
2       0.854269
3       0.960911
4       0.936870
...          ...
1851    0.824577
1852    0.854635
1853    0.873103
1854    0.900000
1855    0.944306

[1856 rows x 3 columns]
New dataset columns:  Index([' State-gov', ' 77516', ' Bachelors', ' 13', ' Never-married', ' White',
       ' Male', ' 2174', ' 0', ' 40', ' <=50K'],
      dtype='object')

In [7]:
fair_dataset

        State-gov   77516   Bachelors   13   2174   0   40   <=50K
0               6   83311           9   13      0   0   13       0
1               4  215646          11    9      0   0   40       0
2               4  234721           1    7      0   0   40       0
3               4  338409           9   13      0   0   40       0
4               4  284582          12   14      0   0   40       0
...           ...     ...         ...  ...    ...  ..  ...     ...
32555           4  257302           7   12      0   0   38       0
32556           4  154374          11    9      0   0   40       1
32557           4  151910          11    9      0   0   40       0
32558           4  201490          11    9      0   0   20       0
32559           5  287927          11    9  15024   0   40       1

[32560 rows x 8 columns]

In [8]:
fair_dataset.rename(columns={" <=50K": "50K"}, inplace=True)

In [9]:
output_column = "50K"

In [10]:
fair_dataset

        State-gov   77516   Bachelors   13   2174   0   40  50K
0               6   83311           9   13      0   0   13    0
1               4  215646          11    9      0   0   40    0
2               4  234721           1    7      0   0   40    0
3               4  338409           9   13      0   0   40    0
4               4  284582          12   14      0   0   40    0
...           ...     ...         ...  ...    ...  ..  ...  ...
32555           4  257302           7   12      0   0   38    0
32556           4  154374          11    9      0   0   40    1
32557           4  151910          11    9      0   0   40    0
32558           4  201490          11    9      0   0   20    0
32559           5  287927          11    9  15024   0   40    1

[32560 rows x 8 columns]

In [56]:
X = fair_dataset.iloc[:,:len(fair_dataset.columns) - 2]
y = fair_dataset.loc[:, output_column:]

In [57]:
X

        State-gov   77516   Bachelors   13   2174   0   40
0               6   83311           9   13      0   0   13
1               4  215646          11    9      0   0   40
2               4  234721           1    7      0   0   40
3               4  338409           9   13      0   0   40
4               4  284582          12   14      0   0   40
...           ...     ...         ...  ...    ...  ..  ...
32555           4  257302           7   12      0   0   38
32556           4  154374          11    9      0   0   40
32557           4  151910          11    9      0   0   40
32558           4  201490          11    9      0   0   20
32559           5  287927          11    9  15024   0   40

[32560 rows x 7 columns]

In [58]:
y = y.drop(columns=['y_pred'])

In [59]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [60]:
standard_scaler_train = StandardScaler()
X_train = standard_scaler_train.fit_transform(X_train)

standard_scaler_test = StandardScaler()
X_test = standard_scaler_test.fit_transform(X_test)

In [61]:
model = GaussianNB()
model.fit(X_train, y_train)

/home/antonio/.local/lib/python3.10/site-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [62]:
y_pred = model.predict(X_test)

In [63]:
print(confusion_matrix(y_test, y_pred))
print(accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[4694  218]
 [1093  507]]
0.7986793611793612
              precision    recall  f1-score   support

           0       0.81      0.96      0.88      4912
           1       0.70      0.32      0.44      1600

    accuracy                           0.80      6512
   macro avg       0.76      0.64      0.66      6512
weighted avg       0.78      0.80      0.77      6512