In [1]:
from fairness.matching import compute
from fairness.pre_processing import categorical_to_numeric_converter
from fairness.pre_processing import remove_columns_from_dataset
from fairness.pre_processing import fix_protected_attributes
import pandas as pd

In [2]:
dataset = pd.read_csv('./dataset/adult.data', sep=',')

In [3]:
dataset

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
numeric_dataset = categorical_to_numeric_converter(dataset)

In [5]:
dataset

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,6,83311,9,13,2,4,0,4,1,0,0,13,39,0
1,38,4,215646,11,9,0,6,1,4,1,0,0,40,39,0
2,53,4,234721,1,7,2,6,0,2,1,0,0,40,39,0
3,28,4,338409,9,13,2,10,5,2,0,0,0,40,5,0
4,37,4,284582,12,14,2,4,5,4,0,0,0,40,39,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,4,257302,7,12,2,13,5,4,0,0,0,38,39,0
32556,40,4,154374,11,9,2,7,0,4,1,0,0,40,39,1
32557,58,4,151910,11,9,6,1,4,4,0,0,0,40,39,0
32558,22,4,201490,11,9,4,1,3,4,1,0,0,20,39,0
32559,52,5,287927,11,9,2,4,5,4,0,15024,0,40,39,1

In [6]:
dataset.columns

Index(['39', ' State-gov', ' 77516', ' Bachelors', ' 13', ' Never-married',
       ' Adm-clerical', ' Not-in-family', ' White', ' Male', ' 2174', ' 0',
       ' 40', ' United-States', ' <=50K'],
      dtype='object')

In [7]:
columns_to_drop = ['39']
final_dataset = remove_columns_from_dataset(dataset, columns_to_drop)

In [8]:
dataset

,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,6,83311,9,13,2,4,0,4,1,0,0,13,39,0
1,4,215646,11,9,0,6,1,4,1,0,0,40,39,0
2,4,234721,1,7,2,6,0,2,1,0,0,40,39,0
3,4,338409,9,13,2,10,5,2,0,0,0,40,5,0
4,4,284582,12,14,2,4,5,4,0,0,0,40,39,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,4,257302,7,12,2,13,5,4,0,0,0,38,39,0
32556,4,154374,11,9,2,7,0,4,1,0,0,40,39,1
32557,4,151910,11,9,6,1,4,4,0,0,0,40,39,0
32558,4,201490,11,9,4,1,3,4,1,0,0,20,39,0
32559,5,287927,11,9,2,4,5,4,0,15024,0,40,39,1

In [9]:
protected_attributes = [' White', ' Male', ' Never-married']

In [10]:
output_column = ' <=50K'

In [11]:
dataset

,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,6,83311,9,13,2,4,0,4,1,0,0,13,39,0
1,4,215646,11,9,0,6,1,4,1,0,0,40,39,0
2,4,234721,1,7,2,6,0,2,1,0,0,40,39,0
3,4,338409,9,13,2,10,5,2,0,0,0,40,5,0
4,4,284582,12,14,2,4,5,4,0,0,0,40,39,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,4,257302,7,12,2,13,5,4,0,0,0,38,39,0
32556,4,154374,11,9,2,7,0,4,1,0,0,40,39,1
32557,4,151910,11,9,6,1,4,4,0,0,0,40,39,0
32558,4,201490,11,9,4,1,3,4,1,0,0,20,39,0
32559,5,287927,11,9,2,4,5,4,0,15024,0,40,39,1

In [12]:
fair_dataset = compute(final_dataset, protected_attributes, output_column)